<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/reset.css">
    <link rel="stylesheet" href="/assets/style.css">
    <title>All Submissions</title>
</head>
<body class="subejs">
    <header class="header">
        <div class="logo">
            <img src="/assets/rhodysyllabi_logo.png" alt="RhodySyllabi Logo">
            <a href="homepage.html">RhodySyllabi</a>
        </div>
        <nav class="navbar">
            <a href="homepage.html">Search</a>
            <a href="submissions">Explore</a>
            <a href="formsubmission.html">Form</a>
            <a href="about.html">About</a>
        </nav>
    </header>
    <div class="container">
        <h1>All Syllabus Submissions</h1>
        <% if (submissions.length > 0) { %>
            <table>
                <tr>
                    <th>Course</th>
                    <th>Professor</th>
                    <th>Syllabus File</th>
                </tr>
                <% submissions.forEach(submission => { %>
                    <tr>
                        <td><%= submission.course_prefix + ' ' + submission.course_code %></td>
                        <td><%= submission.professor %></td>
                        <td><a href="/uploads/<%= submission.syllabus_file %>" target="_blank" rel="noopener noreferrer"><%= submission.original_filename %></a></td>
                    </tr>
                <% }) %>
            </table>
        <% } else { %>
            <p>No submissions found.</p>
        <% } %>
    </div>
</body>
</html>
