@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
    background: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

/* Header and Navbar */
.header {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
    position: fixed;
    border-style: solid;
    border-width: thin;
    border-color: rgba(0, 0, 0, 0.1);
    background-color: white;
    height: 5em;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    display: flex;
    z-index: 9999;
    overflow: hidden;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: auto;
    width: 100%;
    font-size: 2.5em;
    font-weight: 600;
}

.logo a {
    display: flex;
    margin-right: 10em;
    background: linear-gradient(to right, #68abe8 46%, #041e42 50%);
    background-clip: text;
    font-family: 'Poppins', sans-serif;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-size: 0.8em;
}

.logo img {
    display: flex;
    width: 1em;
    height: auto;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    z-index: 9999;
    width: 100%;
    justify-content: right;
    margin-right: 3em;
}

.navbar a {
    display: flex;
    font-size: 1.3em;
    font-family: "Roboto", sans-serif;
    padding: 1em;
    color: #000000;
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(203, 201, 201);
    transition: .3s;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #000000;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

/* Media Queries */

/* Large screens (desktop, 2560x1440) */
@media (min-width: 1600px) {
    .textcontent {}
    .search {}
    .logo {}
}

/* Medium screens (desktop, 1440x900) */
@media (max-width: 1600px) and (min-width: 1024px) {
    .textcontent {}
    .search {}
    .logo {
        padding-inline: 5rem;
    }
}

/* Small screens (tablets, 1024x768) */
@media (max-width: 1024px) {
    .header {}
    .logo {}
    .navbar a {}
    .textcontent {}
    .search {}
}

/* Extra small screens (phones, 480x320) */
@media (max-width: 480px) {
    .header {}
    .logo {
        font-size: 1.5rem;
    }
    .navbar {}
    .navbar a {}
    .textcontent {}
    .search {}
}

/*homepage.html css */

.homePage {
    margin-top: 6em;
    width: 100%;
    height: 100%;
    max-width: 3000px;

}


.textcontent {
    display: flex;
    font-size: -3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 11em;
    gap: 1em;
}

.container-intro {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.features {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    max-width: 100%;
    padding: 0 2em;
    overflow: hidden;
}

.homePage-bold {
    font-weight: 900;
    font-size: 1.3rem;
}

.material-symbols-outlined {
    color: rgba(0, 0, 0, 0.2);
}

.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 100%;
    border-radius: 0.5em;
    transition: 0.25s;
}

.search-input {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    outline: none;
    border: none;
    margin-left: 2rem;
    background: transparent;
}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.25);
    font-weight: 700;
}

.search:focus-within {
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.75);
    
}

/* Motivating Animation */
.blow-up {
    position: absolute;
    display: inline-block;
    font-size: 2.3em;
    margin-inline: 0.3em;
    animation: blowUp 0.5s ease-in-out forwards, jiggle 0.5s 0.5s, scrollDown 1s 1s forwards;
}

/* Inspiring Animation */
.replacement {
    position: absolute;
    display: inline-block;
    font-size: 2.3em;
    margin-inline: 1.2em;
    opacity: 0;
    text-align: center;
    animation: slideIn 1s 1s forwards, scrollDown 1s 2s forwards;
}

/* Leading Animation */
.replacement-1 {
    position: absolute;
    font-size: 2.4em;
    margin-inline: 1.4em;
    display: inline-block;
    opacity: 0;
    text-align: center;
    animation: slideIn 1s 2s forwards, scrollDown 1s 3s forwards;
}

/* Helping Animation */
.replacement-2 {
    position: absolute;
    font-size: 2.4em;
    margin-inline: 1.4em;
    display: inline-block;
    opacity: 0;
    text-align: center;
    animation: slideIn 1s 3s forwards, scrollDown 1s 4s forwards;
}

/* Empowering Animation */
.replacement-3 {
    background: linear-gradient(to right, #0614da, #68abe8);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: relative;
    display: inline-block;
    font-size: 2em;
    padding-bottom: 1px;
    font-weight: 700;
    color: #68abe8;
    opacity: 0;
    text-align: center;
    animation: slideIn 1s 4s forwards;
}

@keyframes blowUp {
    0% { transform: scale(1); }
    50% { transform: scale(5); }
    100% { transform: scale(1); }
}

@keyframes jiggle {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
}

@keyframes scrollDown {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(100%); opacity: 0; }
}

@keyframes slideIn {
    0% { transform: translateY(-100%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

.wrapper {
    background-color: #F5F5F5;
    margin-top: 4em;
}

.section2-intro {
    display: flex;
    background-color: #ffffff;
    border-radius: 1em;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 30%;
    padding: 1em;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.insight {
    display: flex;
    justify-content: center;
    align-items: center;
}

.insight-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imginsight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23%;
}

.wrapper2 {
    background-color: #ffffff;
    width: 100%;
    height: auto;
}

.prepare {
    display: flex;
    align-items: center;
    justify-content: center;
}

.prepare img {
    display: flex;
    width: 30%;
    margin-top: 0.5em;
}

.prepare2 {
    display: flex;
    align-items: center;
    justify-content: right;
}

.prepare2 img {
    display: flex;
    width: 23%;
    margin-top: 0.5em;
}

.wrapper3 {
    background: #F8F8FA;
    width: 100%;
}

.holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 70%;
}

.text-2 h1 {
    font-size: 2em;
}

.text-2 p {
    width: 75%;
}

.text-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
    text-align: left; /* Align text to the left */
    width: 50%;
}

/* formsubmission.html css */
.formpage {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 4em;
    min-height: 90%;
}
.container-agreed {
    display: flex;
    flex-direction: row;
}

.form-wrapper {
    display: flex;
    justify-content: center;
}

.submission {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-background {
    background: #ffffff;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.1);
    margin: 2em;
    width: 100%;
    max-width: 1200px;
}

.contact {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    box-sizing: border-box;
    border-top: #ffffff;
    border-left: #ffffff;
    border-right: #ffffff;
    border-bottom: #000000;
    border-style: solid;
    border-width: thin;
    padding-bottom: 10px;
}

.syllabus {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    box-sizing: border-box;
    border-top: #ffffff;
    border-left: #ffffff;
    border-right: #ffffff;
    border-bottom: #000000;
    border-style: solid;
    border-width: thin;
    padding-bottom: 10px;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10em;
}

.form-intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.form-intro h2 {
    padding-bottom: 2em;
}

.form-row {
    display: flex;
}

.form-input input {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.form-input input {
    display: flex;
    padding-left: 0.2em;
    padding-right: 5em;
    background: #f6f6f6;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: thin;
    border-color: rgba(0, 0, 0, 0.1);
    transition: 0.25s;
}

.form-input input:focus {
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

.model {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.model-content {
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    text-align: center;
}

/*results.ejs css */

.resultwrapper {
    position: absolute;
    top: 0; /* Ensure it's positioned at the top */
    left: 0; /* Ensure it starts from the left */
    width: 100%;
    height: 100%;
    background-color: white; /* Optional: Add background color for clarity */
}

.result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25em;
    padding: 20px; /* Optional: Add padding for spacing */
    transform: translateY(-300px); /* Move up by 50 pixels */
    width: 100%;
}

.result-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    flex-direction: column;
    gap: 2em;
    width: 55%;

}

.input-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2em;
    width: 100%;
    border-bottom: 1px solid #EEEEEE;
    border-width: 0.18em;
    padding-bottom: 2em;
}



.professor {
    display: flex;
    align-items: center;
    border-color: rgba(0,0,0,0.1);
    border-width: thin;
    border-style: solid;
    box-shadow: 1px 1px 7px rgba(0,0,0,0.2);
    background-color: #F1F1F1;
    padding: 0.5em;
    min-width: 30%;
    border-radius: 0.3em;
}

.professor-2{
    display: flex;
    align-items: center;
    border-color: rgba(0,0,0,0.1);
    border-width: thin;
    border-style: solid;
    box-shadow: 1px 1px 7px rgba(0,0,0,0.2);
    background-color: #F1F1F1;
    padding: 0.5em;
    min-width: 30%;
    border-radius: 0.3em;
}

.result-input2, .result-input3, .result-input4, .result-input5 {
    display: flex;
    width: 100%;
    outline: 0;
    border: 0;
    background: transparent;
}






.professor .material-symbols-outlined {
    font-size: 24px; /* Adjust size as needed */
    margin-right: 0.5em; /* Adjust spacing as needed */
}


/* submission.ejs */

.submisson-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.submission-page{
    margin-top: 6em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}